@*******************************************************************************************************************************
 * AK.FinanceManager.Web.Views.Home.About
 * Copyright © 2013 Aashish Koirala <http://aashishkoirala.github.io>
 * 
 * This file is part of Finance Manager.
 *  
 * Finance Manager is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Finance Manager is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Finance Manager.  If not, see <http://www.gnu.org/licenses/>.
 * 
 *******************************************************************************************************************************@

@model SiteViewModel

<div class="well-large alert-info">
    <h4>Finance Manager</h4>
    Version @(Model.Version)<br/>
    Copyright © 2013 <b>Aashish Koirala</b><br/>
    <ul>
        <li><a href="http://aashishkoirala.github.io">aashishkoirala.github.io</a><br/></li>
        <li><a href="http://aashishkoirala.wordpress.com">aashishkoirala.wordpress.com</a><br/></li>
        <li><a href="http://twitter.com/aashishkoirala">@@aashishkoirala</a><br/><br/></li>
    </ul>
    This is a tool I built to keep track of my personal finances. It lets you create a period budget, and lets you
    record your transactions so that you can track it against the budget.<br/><br/>
    Learn more at <a href="http://aashishkoirala.github.io/financemanager/">http://aashishkoirala.github.io/financemanager/</a>.
</div>