<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\AK.FinanceManager.Contracts.DataAccess\packages.config" />
  <repository path="..\src\AK.FinanceManager.Contracts.Services\packages.config" />
  <repository path="..\src\AK.FinanceManager.DataAccess\packages.config" />
  <repository path="..\src\AK.FinanceManager.Model\packages.config" />
  <repository path="..\src\AK.FinanceManager.Services\packages.config" />
  <repository path="..\src\AK.FinanceManager.Web\packages.config" />
</repositories>